.Navbar {
  background: linear-gradient(to right, #00bed2 20%, #84ef6b 50%, #388E3C 100%); 
}

.Container-search {
  background-color: #000;
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}

.Container-characters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

@media only screen and (min-width: 768px){
  .Container-search {
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
  }

  .Container-characters {
    height: calc(100vh - 93px);
    margin-top: 0;
  }
}